.biji_block
{
    padding:10px;    
}

.biji_head
{
    background:rgb(238,238,238);
    font-size:14pt;
}

.biji_entry
{
    font-size:12pt;
}

.biji_subhead
{
    font-size:9pt;
    font-weight:bold;
}
.extension_b
{
    font-family:"Simsun (Founder Extended)";
}
.zhipi
{
    font-size:80%;
    color:red;
    display: inline;
}

.header_note
{
    font-size:50%;
    display: inline;
    
}

.source_note
{
    font-size:50%;
    color:black;
    background:#EBCF9F;

}

.comment_field
{
    z-index:0;
    -webkit-transform: translateZ(0);
    opacity:0.8;
    position:fixed;
    left:0;
    top:60px;
    background-color:gray;
    width:600px;
    height:600px;
    display:none;
}

.match_text
{
    font-size:120%;
     background:#EBCF9F;
}

.comment_field
{
    z-index:0;
    -webkit-transform: translateZ(0);
    opacity:0.8;
    position:fixed;
    left:0;
    top:60px;
    background-color:gray;
    width:600px;
    height:600px;
    display:none;
}

.match_text
{
    font-size:120%;
     background:#EBCF9F;
}

.char_img
{
    display:inline;
    height:15px;
}
small
{
    font-size:x-small;
}
table.scansion
{
    text-align:center;
    border-top:dotted;
    border-color:#E4E4E4;
}
td.halftone 
{
    font-size:50%;
    position:relative;
    top:1pt;
}