.console
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:25pt;
    display:inline;
    background:rgb(243,243,243);
}
.main_content
{
    position:fixed;
    top:50pt;
    left:10pt;
    height:90%;
    width:90%;
    overflow:scroll;
    z-index:1;
}
.hidden
{
    display:none;
}